.cart{
   margin-top: 60px;
   margin-right: 4%;
   margin-left: 4%;
}

.cart-items-title{
   display: grid;
   grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
   align-items: center;
   color: #000000;
   font-size: max(1vw,12px);
}

.cart-items-item{
   margin: 10px 0px;
   color: black;
   font-size: 1rem;
}

.cart-items-item img{
   width: 60px;
}

.cart hr{
   height: 1px;
   background-color: #0828AB;
   border: none;
}

.cart-items-item .cross{
   cursor: pointer;
}

.cart-bottom{
   margin-top: 80px;
   display: flex;
   justify-content: space-between;
   gap: max(12vw,20px);
}

.cart-total{
   flex: 1;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.cart-total-details{
   display: flex;
   justify-content: space-between;
   color: #555;
}

.cart-total hr{
   margin: 10px 0px;
}

.cart-total button{
   border: none;
   color: white;
   background-color: #00AB0F;
   width: max(15vw,200px);
   padding: 12px 0px;
   border-radius: 4px;
   cursor: pointer;
   font-size: 1.5rem;
}

.cart-total button:hover{
   background-color: #00BE10;
   transition: 0.5s;
}

.cart-promocode{
   flex: 1;
}

.cart-promocode p{
   color: #555;
}

.cart-promocode-input{
   margin-top: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #eaeaea;
   border-radius: 4px;
}

.cart-promocode-input input{
   background: transparent;
   border: none;
   outline: none;
   padding-left: 10px;
}

.cart-promocode-input button{
   width: max(1vw,100px);
   padding: 12px 5px;
   background-color: #0828AB;
   border: none;
   color: white;
   border-radius: 4px;
   font-size: 1rem;
}

.cart-promocode-input button:hover{
   background-color: #0c35dc;
   transition: 0.5s;
}

@media (max-width:750px) {
   .cart-bottom{
      flex-direction: column-reverse;
   }
   .cart-promocode{
      justify-content: start;
   }
   
}