.navbar{
   padding: 10px 30px;  
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #0828ab;
}

.navbar ul{
   font-size: 2rem;
}

.navbar .logo{
   width: 140px;
}

.navbar-menu{
   display: flex;
   list-style: none;
   gap: 20px;
   color: #ffffff;
   font-size: 2rem;
}

.navbar-right{
   display: flex;
   align-items: center;
   gap: 40px;
}

.navbar button{
   background-color: #00A80F;
   font-size: 16px;
   color: #ffffff;
   border: none;
   padding: 10px 30px;
   cursor: pointer;
   transition: 0.3s;
   border-radius: 10px;
}

.navbar button:hover{
   background-color: #00BE10;
}

.navbar .active{
   padding-bottom: 2px;
   border-bottom: 2px solid #ffffff;
}

.navbar li{
   cursor: pointer;
}

.navbar-search-icon{
   position: relative;
}

.navbar-search-icon .dot{
   position: absolute;
   min-width: 10px;
   min-height: 10px;
   background-color: #E16F3B;
   border-radius: 5px;
   top: -8px;
   right: -8px;
}

.navbar-profile{
   position: relative;
}

.nav-profile-dropdown{
   position: absolute;
   display: none;
   right: 0;
   z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown{
   display: flex;
   flex-direction: column;
   gap: 10px;
   background-color: #ffffff;
   padding: 12px 25px;
   border-radius: 4px;
   border: 2px solid #E16F3B;
   outline: 2px solid white;
   list-style: none;
}

.nav-profile-dropdown li{
   display: flex;
   align-items: center;
   gap: 10px;
   cursor: pointer;
}

.nav-profile-dropdown img{
   width: 20px;
}

.nav-profile-dropdown li:hover{
   color: #E16F3B;
}

@media (max-width: 1050px) {
   .navbar-menu .logo{
      width: 140px;
   }

   .navbar-menu{
      gap: 20px;
      font-size: 17px;
   }

   .navbar-right{
      gap: 30px;
   }

   .navbar-right img{
      width: 22px;
   }

   .navbar-right button{
      padding: 8px 25px;
   }
}

@media (max-width: 900px) {
   .navbar-menu .logo{
      width: 120px;
   }

   .navbar-menu{
      gap: 15px;
      font-size: 16px;
   }

   .navbar-right{
      gap: 20px;
   }

   .navbar-right img{
      width: 20px;
   }

   .navbar-right button{
      padding: 7px 20px;
      font-size: 15px;
   }
}

@media (max-width: 750px) {
   .navbar-menu {
     display: none;
   }
}